@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --lighter-color: #a3b18a;
  --light-color: #588157;
  --dark-color: #3a5a40;
  --darker-color: #344e41;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 63.5%;}
body,
html {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 1.4;
  scroll-behavior: smooth;
  color: #ffffff;
}
body {
  font-size: 1.4rem;
}
header{
    background-color: var(--darker-color);
}





/* Navbar Styling */
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 80px;
}
.nav-head h1{
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
}
.nav-tag a{
  text-decoration: none;
  font-size: 2rem;
  margin: 0px 20px;
  color: #ffffff;
  transition: 0.3s ease-in-out;
  border-bottom: 0.3rem solid transparent;
}
.nav-tag a:hover{
  border-bottom: 0.3rem solid #a3b18a;
  transition: 0.3s ease-in-out;
}
/* Navbar Styling */





/* Hero Section */
.Hero-section{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--lighter-color);
  padding: 65px 0px;
  border-bottom: 3px solid var(--dark-color);
  color: #000000;
  }
  .hero-text{
    font-size: 1.8rem;
  }
  .hi-text{
    color: #d3d3d3;
    font-size: 5rem;
  }
  .name-text{
    font-size: 4rem;
    letter-spacing: -2px;
  }
  .hero-text h2{
    text-align: center;
    font-size: 5.5rem;
    
    
    overflow: hidden;
    border-right: 0.15em solid #e9e2d5;
    white-space: nowrap; 
    margin: 0 auto;
    animation: typing 5s steps(40, end), blink-caret 0.75s step-end infinite;
  }
  
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: #eee9df;
    }
  }
  /* Hero Section */
  
  



/* Project Section */
.Project-section{
  background-color: var(--light-color);
}
.Project-section h1{
  font-size: 4.5rem;
  text-align: center;
  padding-top: 20px;
  text-shadow: 4px 4px 4px #344e41;
  /* padding-bottom: 60px; */
  text-transform: uppercase;
  letter-spacing: 2px;
}
.htmlprojectheading{
  color: #a3a3a3;
  text-shadow: 4px 4px 4px #000;
  margin-bottom: 6rem;
}
.projects{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 60px;
  padding-bottom: 120px;
}
.card img{
  width: 400px;
  height: 35vh;
  border-radius: 30px;
}
/* Project Section */





/* Contact Section */
.Contact-section{
  background-color: var(--dark-color);
  color: #f8f1f1;
  text-align: center;
  padding: 10% 0px;
}
.contact-tag{
  display: flex;
  gap: 6rem;
  place-content: center;
  margin-top: 3.5rem;
}
.Contact-section h1{
  font-size: 6.5rem;
}
.contact-tag h1{
  font-size: 2.5rem;
}
.contact-tag a{
  color: #f8f1f1;
  text-decoration: none;
}

/* Contact Section */